<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <title>Upload Blog</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }

    .container {
        width: 1200px;
        height: auto;
        display: grid;
        place-items: center;
    }

    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4em 4em 4em 4em;
        margin: 2%;
        border-radius: 10px;
        border: .2px solid rgb(44, 44, 44);
    }

    .form .email,
    .form .password,
    .form .submitButton {
        padding: 1em 1em 1em 1em;
        position: relative;
        top: 0;
        left: 0;
    }

    input[type="text"],
    input[type="url"],
    textarea {
        padding: 1em 1em 1em 2.4em;
        border-radius: 5px;
        outline: none;
        background: #ffffff;
        border: 1.5px solid rgb(44, 44, 44);
        font-family: 'Josefin Sans', sans-serif;
    }

    textarea {
        width: 100%;
        height: 90px;
    }

    .email i,
    .password i {
        position: absolute;
        top: 35%;
        right: 82%;
    }

    .submitButton i {
        position: absolute;
        top: 35%;
        right: 28%;
        color: #ffffff;
        text-shadow: 1px 1px 2px #000000;
    }

    .submitButton {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .submitButton button {
        padding: .6em 2.5em .6em 2em;
        background: rgb(44, 44, 44);
        /* background: transparent; */
        border: 1px solid gray;
        color: #f7f7f7;
        /* color: #000000; */
        text-shadow: 1px 1px 2px #000000;
        cursor: pointer;
        font-size: .9rem;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        outline: none;
    }

    .submitButton button:hover {
        transition: all .3s;
        background: rgb(88, 88, 88);
    }

    .heading {
        position: relative;
        top: 0;
        left: 0;
        height: 50px;
    }


    .heading h2 {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }

    .notify {
        background: rgb(245, 39, 74);
        padding: 1em 3em 1em 3em;
    }

    .notify h2 {
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;
        text-shadow: 1px 1px 2px #000000;
    }

    .notify h2 i {
        color: yellow;
    }

    .text {
        display: flex;
        justify-content: center;
        margin: 5%;
    }

    .text h2 {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        color: #3a3a3a;
    }

    a {
        text-decoration: none;
    }

    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 3%;
    }

    .back i {
        font-size: 2.5rem;
        color: rgb(108, 108, 255);
        outline: none;
    }

    .back i:hover {
        transition: all .3s;
        color: rgb(81, 81, 255);
    }

    img {
        display: none;
        height: 180px;
        width: 180px;
    }



    @media all and (max-width: 574.6px) {
        .form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 4em 2.5em 4em 2.5em;
            margin: 10%;
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
        }
    }
</style>

<body>
    <div class="container">
        <div class="form">
            <div class="heading">
                <!-- <h2>Register <i class="fa fa-user-plus" aria-hidden="true"></i></h2> -->
                <h2>Upload Blog</h2>
            </div>
            <form action="/blogUpload" method="POST">
                <div class="email">
                    <input type="text" name="title" placeholder="Enter Blog Title" id="" autocomplete="off" required>
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </div>
                <div class="password">
                    <input type="url" name="imgUrl" placeholder="Upload Image" id="imageUrl" required>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
                <div class="password">
                    <img src="" alt="image">
                    <!-- <i class="fa fa-key" aria-hidden="true"></i> -->
                </div>
                <div class="password">
                    <textarea name="blogText" required></textarea>
                </div>
                <div class="submitButton">
                    <button>Upload</button>
                    <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
                </div>
            </form>
        </div>
        <%if(error === "Error"){%>
        <div class="errorTxt">
            <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error Uploading😢!</h2>
        </div>
        <%}%>
    </div>
</body>
<script>
    const image = document.images[0];
    const image_url = document.getElementById("imageUrl");

    image_url.addEventListener("input", () => {
        image.style.display = "block";
        image.src = image_url.value;

        if (image_url.value === "")
            image.style.display = "none";
    })
</script>

</html>